html {
  background-color: rgb(112, 112, 112);
  
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tile {
    display: flex;
    justify-content: center;
    background: rgb(250, 250, 250);
    min-height: 100px;
    width: 90%;
    min-width: 10vh;
    border-radius: 20px;
    min-height: 35vh;
    min-width: 28vh;
    max-width: 100vh;
  }
  .bigTile {
    display: flex;
    justify-content: center;
    background: rgb(250, 250, 250);
    min-height: 100px;
    border-radius: 20px;
    min-height: 50vh;
    min-width: 95vw;
    max-width: 100vh;
  }


  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chart {
    min-height: 27vh;
    min-width: 27vh;
  }
  .bigChart {
    min-height: 72vh;
    min-width: 72vh;
  }

  td, th, tr, table {
     border: 2px solid black;
     border-collapse: collapse;
  }